<div class="arrumarConfig">
  <img src="assets/icons/icon.webp" alt="config">
</div>

<div class="config">
  <div class="desabilitar ativo">
    <p>O fundo está tirando seu foco?</p>
    <button id="remover">Desabilitar fundo animado</button>
  </div>

  <div class="habilitar">
    <p>Quer o fundo animado?</p>
    <button id="adicionar">Habilitar</button>
  </div>
</div>

<div class="title">
  <h1>Aluguéis de temporada no <span>mundo todo.</span></h1>
  <h2>Casas, apartamentos, chalés e mais</h2>
</div>
<div class="icones">
  <a href="#"><img src="assets/icons/apple.webp" alt="apple" width="200px" height="140px"></a>
  <a href="#"><img src="assets/icons/play.webp" alt="playStore" width="200px" height="200px"></a>
</div>
<form class="datas">
  <div class="lugar">
    <img src="assets/icons/mapa.webp" alt="mapa" width="18px" height="18px">
    <input type="text" placeholder="Para onde voce vai?">
  </div>
  <div class="ida">
    <span>Data de ida <i class="bi bi-arrow-down-short"></i></span>
    <input type="date">
  </div>
  <div class="ida">
    <span>Data de volta <i class="bi bi-arrow-down-short"></i></span>
    <input type="date">
  </div>
  <button>Pesquisar</button>
</form>
