.title {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.title h1 {
  font-size: 45px;
  color: #ffffffee;
}

.title h1 span {
  color: var(--main-second-color);
}

.title h2 {
  font-size: 25px;
  color: #ffffffb9;
}

.icones {
  display: flex;
  align-items: center;
}

.icones a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icones a img {
  transition: .3s;
  cursor: pointer;
}

.icones a img:hover {
  transform: scale(1.1);
}

.datas {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.lugar {
  position: relative;
  display: flex;
  align-items: center;
}

.lugar img {
  position: absolute;
  margin-left: 10px;
}

.lugar input {
  height: 50px;
  width: 98%;
  padding: 5px 35px;
  border-radius: 8px;
  border: none;
}

.lugar input::placeholder {
  font-size: 17px;
}

.ida input {
  height: 50px;
  width: 98%;
  padding: 5px 25px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
}

.ida,
.lugar {
  width: 100%;
}

.ida {
  margin-top: -20px;
}

.ida label {
  color: #ffffffd2;
}

.datas button {
  width: 30%;
  height: 50px;
  font-size: 17px;
  background: transparent;
  color: var(--main-second-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .3s;
  border: 2px solid var(--main-second-color);
}

.datas button:hover {
  transform: translateY(-5px);
  box-shadow: 5px 10px 10px #3a1000;
  background: var(--main-second-color);
  color: white;
}

@media(max-width: 1000px) {
  .datas button {
    font-size: 14px;
  }
}

@media(max-width: 768px) {

  .title {
    margin: 0 auto;
    width: 90%;
  }

  .title h1 {
      text-align: center;
  }

  .title h2 {
      text-align: center;
  }

  .icones {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .icones a img {
      margin-left: 0;
  }

  .datas {
    flex-direction: column;
    margin-top: 20px;
  }

  .ida,
  .lugar {
      margin-bottom: 40px;
  }
}

@media(max-width: 400px) {
  .title h1 {
      font-size: 35px;
      margin-bottom: 20px;
  }

  .title h2 {
      font-size: 23px;
  }

  .icones a {
      width: 140px;
  }

  .icones a img {
      width: 140px;
  }
}
