<main>
  <header class="header">
    <a href="#"><img src="assets/icons/icon.webp" alt="icone"></a>
    <nav>
      <a href="#inicio" class="ativo"><i class="bi bi-house-door"></i> Inicio</a>
      <a href="#services"><i class="bi bi-hammer"></i> Serviços</a>
    </nav>
    <div class="login">
      <a href="#">Entrar</a>
      <a href="#">Cadastre-se</a>
    </div>
    <button id="btn-menu">
      <span class="linha"></span>
      <span class="linha"></span>
      <span class="linha"></span>
    </button>
  </header>

  <section id="inicio">
    <app-home/>
  </section>

  <section id="services">
    <app-services/>
  </section>

  <section id="about">
    <app-about/>
  </section>

  <footer>
    <div>
      <p>Direitos autorais © Todos os direitos reservados.</p>
    </div>
    <div>
      <a href="#inicio"><img src="assets/icons/seta-para-cima-min.webp" alt="IconSeta" width="30px" height="30px"></a>
    </div>
  </footer>
</main>
