#inicio {
  width: 100%;
  z-index: 10;
}

#inicio.ativo{
  background: transparent;
}

#services.ativo{
  background: transparent;
}

footer {
  background: #010101;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: #ffffffbb;
  text-align: center;
}

@media(max-width: 700px) {
  footer {
    padding: 20px 20px;
  }

  footer p {
      font-size: 15px;
      text-align: left;
  }
}

@media(max-width: 510px) {
  footer {
    padding: 20px 20px;
    flex-direction: column;
  }

  footer p {
      margin-bottom: 15px;
  }
}
