.sobre h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.sobre details {
  border: 1px solid #ffffff2d;
  padding: 30px 20px;
  background: #000000ce;
}

.sobre details summary {
  color: white;
  cursor: pointer;
}

.sobre details p {
  color: #ffffff83;
  margin-top: 10px;
}
