/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: "Cabin", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0a0a0a;
}

:root {
  --text-color: #ededed;
  --main-second-color: #ff4800;
  --bg: #000000;
}

section {
  height: auto;
  width: 100%;
  padding: 50px 40px;
}
