/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: "Cabin", sans-serif;
}

body {
  overflow-x: hidden;
  background: #0c0c0c;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  background-position: center;
  z-index: -1;
  background: black;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

:root {
  --text-color: #ededed;
  --main-second-color: #ff4800;
  --bg: #000000;
}

section {
  height: auto;
  width: 100%;
  padding: 110px 40px;
}
