<header class="header">
  <a href="#"><img src="assets/icons/icon.webp" alt="icone"></a>
  <nav>
    <a href="#inicio" class="ativo"> Inicio</a>
    <a href="#services">Serviços</a>
    <a href="#about">Ajuda</a>
  </nav>
  <div class="login">
    <a href="#">Entrar</a>
    <a href="#">Cadastre-se</a>
  </div>
  <button id="btn-menu" #btnMenu>
    <img src="assets/icons/menu-aberto.webp" alt="MenuMobile" width="30px" height="30px">
  </button>
</header>
<div class="menuMobile" #menuMobile>
  <a href="#inicio">Inicio</a>
  <a href="#services">Serviços </a>
  <a href="#about">Ajuda</a>
  <a href="#">Entrar</a>
  <a href="#">Cadastre-se </a>
</div>